<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">

            <div class="col-md-6 col-12 main_header_right mt-2">
              <figure>
                <img src="images/about.jpeg" alt="about" title="about" class="img-fluid"/>
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>I Am A<span class="text-w"> MERN Stack Developer </span>the
                Web Explorer</h1>
              <a href="#"><button>contact with Me</button></a>
              <div class="connect">
                <a href="https://github.com/Somnath2001" target="_blank"><i
                    class="fab fa-github"
                  ></i></a>
                <a
                  href="https://www.instagram.com/somnath_012/"
                  target="_blank"
                ><i class="fab fa-instagram"></i></a>
                <a
                  href="https://hi-in.facebook.com/somnath.dudhat"
                  target="_blank"
                ><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/SomnathDudhat" target="_blank"><i
                    class="fab fa-twitter"
                  ></i></a>
                <a
                  href="https://www.linkedin.com/in/somnath-dudhat-521010214/"
                  target="_blank"
                ><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
   {{>footer}}
  </body>
</html>